@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FFF;
}

h1, h2, h3, h4 ,h5, h6 {
  margin: .5em 0 0 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

/* --------- Header component styling ---------- */

.header-div {
  background-color: #46a7d5;
  color: #FFF;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 1px 2px #ccc;
  z-index: 2;
}

.header-div h1 {
  margin-top: 1.5vh;
  font-size: 5vh;
}

/* --------- Content component styling ---------- */

.content-div {
  text-align: center;
}

.result-int {
  color: #000;
  margin-right: .2vw;
}

.result-txt {
  color: #555;
  margin: 0;
  top: 12vh;
  position: relative;
}

.job-col {
  text-align: left;
  margin-left: 1em;
  padding: 4vh 20vw 4vh 0;
}

.job-box {
  top: 14vh;
  width: 60%;
  height: auto;
  margin: 0 auto 2em auto;
  background-color: #FFF;
  display: flex;
  color: rgb(85, 85, 85);
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px #aaa;
}

.job-box:hover {
  transform: scale(1.1);
  background-color: #46a7d5;
  color: #FFF;
  transition-duration: .2s;
}

.company-logo {
  width: 15%;
  height: 15%;
  margin: 2em;
  box-shadow: 0px 0px 4px #777;
}

.job-title {
  font-size: 1.5vh;
}

.job-comp, .job-loc, .job-empl-type {
  font-size: 2vh;
  text-align: left;
  margin: 0;
}

.icon {
  margin-right: 1vw;
}

.btn-div {
  position: absolute;
  right: 0;
  padding: 4vh 2vw;
}

.btn {
  width: 11vw;
  height: 3em;
  font-size: 1.5vh;
  font-weight: 500;
  color: #FFF;
  background-color: rgb(85, 85, 85);
  border: solid 2px rgb(85, 85, 85);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px #FFF;
  cursor: pointer;
}


/* ---------- For smaller screen ---------- */

@media only screen and (max-width: 768px) {

  .job-box:hover {
    transform: none;
    background-color: #FFF;
    color: rgb(85, 85, 85);
  }

  .job-box {
    top: 15vh;
    padding: 4vh 0;
    display: block;
    width: 100%;
    border: none;
    border-top: solid 1px #777;
    margin: 0;
    box-shadow: none;
  }

  .company-logo {
    margin: 0;
  }

  .job-title {
    margin: 0;
    font-weight: 900;
  }

  .job-comp, .job-loc, .job-empl-type {
    text-align: center;
  }

  .job-empl-type, .icon {
    display: none;
  }

  .job-col {
    text-align: center;
    padding: 0 6vh;
    margin: 0;
  }

  .btn-div {
    position: relative;
    padding-bottom: 0;
  }

  .btn, .btn:hover {
    width: 30vw;
    height: 3em;
    font-weight: 500;
    color: #FFF;
    border: none;
    background-color: rgb(85, 85, 85);
    border: solid 2px rgb(85, 85, 85);
  }
}

@media only screen and (max-width: 400px) {
  .btn {
    width: 40vw;
  }
}